
@{
    ViewData["Title"] = "更新密碼";
}

<div class="container mt-5" id="resetpassword">
    <div class="row" style="height:350px;">
        <div class="col"></div>
        <div class="col">
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="請輸入新密碼" v-model="newPassword">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="確認密碼">
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary mb-3" v-on:click="update">重新設定密碼</button>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

<script>
    var urlAccount = location.href.split(',');
    var account = urlAccount[1];
    console.log(account);

    var urlPassword = urlAccount[0].split('?password=');
    var password = urlPassword[1];
    console.log(password);

    var app = new Vue({
        el: "#resetpassword",
        data: {
            oldPassword: password,
            userAccount: account,
            newPassword: ""
        },
        methods: {
            update: function () {
                let self = this;
                axios.post("/auth/resetpassword?password=" + self.oldPassword + "&account=" + self.userAccount + "&newpassword=" + self.newPassword).
                    then(function (res) {
                        if (res.status == 200) {
                            //alertSuccess(res.data);
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: res.data,
                                showConfirmButton: false,
                                timer: 1500,
                                willClose: (toast) => {
                                    window.location.href = "/home/index";
                                }
                            });
                        }
                    }).catch(
                        function (err) {
                            if (err.status) {
                                alertWrong(err.data);
                            }
                        }
                    );
            }
        }
    })

</script>